
/*Set up for the fonts to use*/
body {
    font-family: 'Georgia','Calibri', 'Arial';
}

/*Creates a solid magenta border around main blocks along with some spacing, size, and color settings for text*/
.main-blocks {
    position: relative;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(178, 19, 130);
    font-size: medium;
    color: rgb(134, 173, 240);
    margin:auto;
    padding: 5%;
}

/*Makes a pink block with centered dark text*/
.secondary-blocks {
    position: relative;
    font-size: large;
    text-align: center;
    color: rgb(6, 23, 54);
    margin:auto;
    padding: 5%;
    background-color: rgba(243, 192, 246, .8);
}

/*Spaces the images a little bit away from the left side*/
img{
    left: 10px;
    width:500px;
    
}

/*Makes a large pink title*/
#title {
    font-size: 40px;
    color: rgb(243, 192, 246);
    text-align: center;
}

