
* {
    box-sizing: border-box;
  }

/*Set up the fonts, base spacing, and background color*/
body {
    font-size: 16px;
    font-family: UbuntuMono, Arial, Helvetica, sans-serif;
    font-style: normal;
    margin: 0;
    padding: 0;
    background-color: rgb(36, 43, 76);
}

/*Sets up the top bar*/
header {
    position: fixed;
    z-index: 5;
    top: 0px;
    height: 4 em;
    width:100%;
    margin-top: 0;
    margin-bottom: 10em;
    text-align: left;
    background-color: rgb(55, 122, 164);
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:70%;
}
  



@media only screen and (max-width: 700px) {
    /* For mobile*/
    .center {
        width:90%;
    }

}

@media only screen and (max-width: 500px ) {
    /* For mobile*/
        .center {
            width:100%;
        }
}
/*Sets up the top bar options*/
.header-options {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 1em auto;
    background-color:none;
    display:inline-block;
    padding: .5em 1em;

}

/*Sets up the top bar options links*/
.header-options a{
    color:rgb(230, 211, 142);
    text-emphasis-style: bold;
    text-decoration: none;
}

/*Sets up the top bar options to change color when hovered over*/
.header-options:hover a:hover {
    background-color: rgb(230, 211, 142);
    color: rgb(59, 143, 196);
    padding: .6em 0 .6em;
}

/* Adds a dropdown feature*/
.dropdown {
    display: inline-block;
}

.dropdown img{
    max-width: 2em;
    margin-top: 1.2em;
}

/* For the the content within the dropdown menu*/
.dropdown-item {
    display: none;
    position: absolute;
    border: 1px solid #000;
    background-color:  rgb(59, 143, 196);
}

.dropdown:hover .dropdown-item,
.dropdown:active .dropdown-item  {
    display: block;
}


/*Sets up the image to fill container*/
img {
    max-width: 100%;
    height: auto;
  }

/*Sets up container*/
.container{
    position:relative;
    display:inline-block;
    margin-left:1em;
    max-width: 400px;
}

/*Sets up a smaller container*/
.small-container{ 
    position: relative;
    float: left;
    margin-left:auto;
    margin-right:auto;
    width:10%;
    min-width: 20px;
}


/*Sets up title of the page*/
.title {
    position: relative;
    font-size: x-large;
    float:left;
    margin-left:20%;
    color: rgb(230, 211, 142);
}

/* Sets up the blocks for content */
.text-block {
    position:relative;
    margin: .5em;
    max-width: 450px;
    min-width: 170px;
    color: rgb(255, 255, 255, .65);
    padding: .5em;
    overflow:visible;
    display:inline-block;
}

.text-block .center-text{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:80%;
    text-align:center;
}

@media only screen and (max-width: 800px){
    .title {
        text-align: center;
        margin-right:30%;
        margin-left:30%;
    }
    .text-block{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width:80%;
    }
}

/*Leaves space for ythe header*/
.top{
    margin-top: 5em;

}

@media only screen and (max-width: 438px) {
/* For desktop: */
    .top {margin-top: 9.2em;}

}

.center-text {
    text-align: center;
}

